<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="card animated zoomIn my-4">
        <br />
        <div class="text-center">
          <!--Card image-->
          <img
            class="img-thumbnail img-fluid rounded"
            src="./assets/img/roofs.jpg"
          />
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title text-center">Before and After</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="card animated zoomIn my-4">
        <br />
        <div class="text-center">
          <!--Card image-->
          <img
            class="img-thumbnail img-fluid  rounded"
            src="./assets/img/baths.jpg"
          />
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title text-center">Before and After</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="card animated zoomIn my-4">
        <br />
        <div class="text-center">
          <!--Card image-->
          <img
            class="img-thumbnail img-fluid  rounded"
            src="./assets/img/kitchens.jpg"
          />
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title text-center">Before and After</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="card animated zoomIn my-4">
        <br />
        <div class="text-center">
          <!--Card image-->
          <img
            class="img-thumbnail img-fluid  rounded"
            src="./assets/img/image.jpg"
          />
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title text-center">Before and After</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
