<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card my-4">
        <img
          class="img-fluid img-thumbnail rounded"
          src="./assets/img/handyman.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <hr class="my-2" />
          <p class="card-text">
            Send us an email:
            <a href="mailto:gaxiola.lgaxiola.luis@gmail.com">
              <i class="fa fa-envelope left"></i> Roberto Gaxiola</a
            >
            . Or, give us a call:
            <i class="fa fa-phone left"></i> 520-460-2289 (USA) Leave us a
            message and we will get right back to you ASAP.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
